body, html {
    height: calc(100%-2em);
    margin: 0;
    font-family: Raleway;

}
body { 
    height: 100vh;
    background-color: #175B9E; 
    background-image: linear-gradient(135deg, #175B9E, #15DCDC); 
    background-image: -webkit-linear-gradient(-45deg, #175B9E, #15DCDC); 
    background-image: -moz-linear-gradient(-45deg, #175B9E, #15DCDC); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* Alternate Color Scheme*/
    /*background: rgb(255,64,0);
    background: -moz-linear-gradient(145deg, rgba(255,64,0,1) 0%, rgba(242,224,130,1) 100%);
    background: -webkit-linear-gradient(145deg, rgba(255,64,0,1) 0%, rgba(242,224,130,1) 100%);
    background: linear-gradient(145deg, rgba(255,64,0,1) 0%, rgba(242,224,130,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff4000",endColorstr="#f2e082",GradientType=1);*/
}

h1 {
    font-size: 5.5vw;
    font-weight: 700;
}


.page-wrap {
    left: 9%;
    top: 9%;
    right: 5%;
    bottom: 9%;
    height: 90%;

    
    position: relative;
    overflow: auto;
}

.container{
    position: absolute;

}




.footer-menu {
    position: fixed;
    width:100%;
    bottom: 0.85rem;
    

    /*display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center; */
}

.bottom-menu-bar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-menu-bar li a {
    padding: .25rem 1rem;
    color: #ffffff;
    font-size: 2em;
}

.bottom-menu-bar li {
    position: relative;
}

.bottom-menu-bar li .sub-menu {
    display: none;
    position: absolute;
    bottom: 100%;
    left:0;
    background-color: white;
    margin:0;
    padding: 0;
    list-style-type: none;
}
.bottom-menu-bar li a .sub-menu {
    color: black;
    display: inline-block;
    text-align: center;
}
.bottom-menu-bar .menu-item-has-children:hover .sub-menu {
    display: block;
}
.rectangle {
    border-radius: 5px;
    position: fixed;
    left: 5%;
    top: 12%;
    right:5%;
    bottom:10%;
    padding:0;
    background-color: white;
}    

@media only screen and (max-width:768px) {

    .rectangle{ 
        border-radius: 0px;
        position: fixed;
        left: 0;
        top: 8%;
        right:0%;
        bottom:7%;
        padding:0;
        background-color: white;
    }
    h1 {
        font-size:4em;
    }

    .bottom-menu-bar {
        display:none;
    }
}

.pagination {
    display: inline-block;
}

a.page-numbers, a.next.page-numbers, a.prev.page-numbers {

    display: inline-block;

    padding: 5px 10px;

    margin: 0 2px 0 0;

    border: 1px solid #eee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    line-height: 1;

    text-decoration: none;
    
    border-radius: 2px;

    font-weight: 600;
    color: white;
    background: #175B9E;

}
.page-numbers.current{
    
    display: inline-block;

    padding: 5px 10px;

    margin: 0 2px 0 0;

    border: 1px solid #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 1;

    text-decoration: none;
    
    border-radius: 2px;

    font-weight: 600;
    color: black;
    background: white;
}
a.page-numbers:hover {
    color:black;
    background-color: white;
}

section.copyright-wrap {
    color: white;
    position: absolute;
    left:1 ;
    bottom: 0;
}
section.copyright-wrap p {
    color: white;
    position: fixed;
    bottom:0;
    left: 0;
    font-size: small;
}

div.custom-logo {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
div.custom-logo img.custom-logo{
    position: inherit;
}
@media only screen and (max-width: 767px) {
    section.copyright-wrap p {
        color: white;
        position: fixed;
        bottom:0;
        left: 0;
        font-size: 0.65em;
    }
    div.custom-logo {
        padding-top: 0.5rem;
        display: block;
        position: absolute;
        left: 0.15rem;
    }
}
/* For mobile devices with limited height*/
@media only screen and (max-height: 640px) {
    section.copyright-wrap p {
        color: white;
        position: fixed;
        bottom:0;
        left: 0;
        font-size: 0.5em;
    }
    .rectangle{ 
        border-radius: 0px;
        position: fixed;
        left: 0;
        top: 9%;
        right:0%;
        bottom:8%;
        padding:0;
        background-color: white;
    }
    h1 {
        font-size:4em;
    }
}